#urlbar-search-mode-indicator {
  display: inline-flex !important;
  align-items: center !important;
  padding: var(--mod-searchbadge-paddingvertical, 5px)
    var(--mod-searchbadge-paddinghorizontal, 13px) !important;
  border-radius: 9999px !important;
  background-color: var(--mod-searchbadge-backgroundcolor, #d2d2d2) !important;
  color: var(--mod-searchbadge-fontcolor, #121212) !important;
  font-weight: 500 !important;
  -moz-appearance: none !important;
  background-image: none !important;
  box-shadow: var(--mod-searchbadge-shadowstyle, 0 0 20px)
    var(--mod-searchbadge-shadowcolor, #ffffff5e) !important;
  font-size: var(--mod-searchbadge-fontsize, 15px) !important;
}

/* hide close button */
#urlbar-search-mode-indicator-close.close-button {
  display: none !important;
}
/* remove 3px padding from parent */
#urlbar-search-mode-indicator-title {
  padding: 0 !important;
}

/* hide pill by default */
#urlbar-search-mode-indicator {
  display: none !important;
}

/* show and style it only when in search mode */
#urlbar[searchmode] #urlbar-search-mode-indicator {
  display: inline-flex !important;
}
