#urlbar-search-mode-indicator {
  padding: 5px 12px !important;
  border-radius: 9999px !important;
  background: #64ab9c !important;
  color: #ffffff !important;
  font-weight: 500;
  box-shadow: 0 0 14px #64ab9c5e;
  font-size: 15px;
}

#urlbar-search-mode-indicator-close.close-button {
  display: none;
}

#urlbar-search-mode-indicator-title {
  padding: 0 !important;
}
